<h2>By Country</h2>
<hr>
<div class="row">
    <div class="col">
        <app-country-input
        (onEnter)="search($event)"
        (onDebounce)="suggestions($event)"
        [placeHolder]="placeHolder"
        ></app-country-input>
    </div>
</div>
<ul class="ps-0 ms-1 me-1" 
    *ngIf="countriesSuggestion.length>0"
    >
    <li class="list-group-item list-group-item-action"
    *ngFor="let countrySugestion of countriesSuggestion"
    > 
    <a [routerLink]="['/country',countrySugestion.alpha2Code]">
        {{countrySugestion.name}}
    </a>
    </li>
</ul>
<hr>
<div class="alert alert-danger" *ngIf="isError">
    No elements found
</div>

<div class="row" *ngIf="countries.length>0">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>